<%- include("partials/header.ejs") %>
<img class="mainL" src="logo.png" height="200px" width="200px" />
<br />
<h1>Welcom to the DevLog</h1>
<div class="container">
  <p>
    Hello and welcome to DevLog! Whether you're a seasoned developer, a coding
    enthusiast, or just starting your journey in web development, you've come to
    the right place. Here, we dive into the latest trends, tools, and
    technologies shaping the web. From coding tips and tutorials to project
    showcases and career advice, DevLog is designed to inspire and empower
    developers at every level. Explore our blog, stay updated with industry
    insights, and join a community passionate about building the web of
    tomorrow. Ready to code? Let's get started!
  </p>
</div>
<br />
<br />
<%- include("partials/footer.ejs") %>
