<%- include("partials/header.ejs") %>
<img src="logo.png" height="200px" width="200px" class="mainL" />
<div class="container">
  <form action="/post" method="POST">
    <div class="form-group">
      <label for="postTile">Title</label>
      <input
        type="text"
        class="form-control"
        name="postTitle"
        placeholder="Enter  Title"
        autofocus
        required
      />
    </div>

    <div class="form-group">
      <label for="postContent">Post</label>
      <textarea
        class="form-control"
        name="postContent"
        rows="3"
        autofocus
        required
      ></textarea>
      <br />
      <br />

      <button type="submit" class="btn btn-default">Publish</button>
    </div>
  </form>
</div>
<%- include("partials/footer.ejs") %>
